export default {
  users: [
    {
      user_name: "",
      email: "",
      pwd: "",
      verified: 0,
      avatar: "",
      color: "",
    },
  ],

  lists: [
    {
      list_name: "",
      created_by: 1,
    },
  ],

  list_members: [
    {
      user_id: 1,
      list_id: 1,
    },
  ],

  list_items: [
    {
      list_id: 1,
      item_name: "",
      added_by: 1,
      checked: 0,
      checked_by: null,
    },
    {
      list_id: 1,
      item_name: "",
      added_by: 1,
      checked: 1,
      checked_by: 1,
    },
  ],
};